body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://bit.ly/2NOvUCK);
    background-repeat: no-repeat;
    background-size: 100%;
}
#content {
    text-align: center;
    width: 100%;
    height: 15%;
}
h1 {
    font-size: 80px;
    color: #faa803;
}
h2 {
    color: #faa803;
}